body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
  }
  /* navbar */
  .navbar {
    font-family: "Gemunu Libre", sans-serif;
  }
  /* end navbar */
  
  /* jumbotron */
  .jumbotron {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  /* end jumbotron */

  /* Main */
  h4 {
    font-family: 'Nunito Sans', sans-serif;
  }

  /* end Main */
  
  /* dekstop */
  @media (min-width: 992px) {
    /* Nav */
    .navbar-brand,
    .nav-link {
      color: #ddd !important;
      z-index: 10;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
  
    .nav-link:hover::after {
      content: "";
      display: block;
      border-bottom: 3px solid #0004ff;
      width: 50%;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
    }
    /* End nav */

    /* cart */
  .cart {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }
/* end cart */
  
    /* jumbotron */
    .jumbotron {
      height: 700px;
      margin-top: -70px;
    }
    /* end jumbotron */
  }
  /* dekstop */

  /* footer */
  footer {
    background-color: rgb(146, 146, 151);
    color: #fff;
  }

  .row {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
  }
  /* end footer */
  